Flask==1.0.2
googleapis-common-protos==1.5.9
grpcio==1.19.0
grpcio-tools==1.19.0
Authlib==0.10
loginpass==0.2.1
python-dotenv==0.10.1
gunicorn>=19.1.1
base58==0.2.5
secp256k1==0.13.2
bitstring==3.1.5
