<p style="margin: 0 0 20px;">
  You just received a tip from
  <strong>{{args.tip.sender or 'an anonymous user'}}</strong>
  for
  <strong>{{ args.tip.amount }} sats</strong>!
  {% if args.tip.message %}
    They also added the following message:
  {% endif %}
</p>

{% if args.tip.message %}
<p style="margin: 10px 0; padding: 20px; background: #F8F8F8;">
  “{{ args.tip.message }}”
</p>
{% endif %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <td bgcolor="#ffffff" align="center" style="padding: 40px 30px 40px 30px;">
          <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                  <td align="center" style="border-radius: 3px;" bgcolor="{{ UI.PRIMARY }}">
                      <a href="{{ args.tips_url }}" target="_blank"
                         style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border-radius: 4px; border: 1px solid {{ UI.PRIMARY }}; display: inline-block;">
                          View your Tips
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
