@import '../style/variables.less';

.About {
  max-width: 780px;
  margin: 0 auto;

  &-section {
    display: flex;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgba(#000, 0.1);

    @media @md-query {
      flex-direction: column;
    }

    &:last-child {
      border: none;
    }

    &-label {
      font-size: 2rem;
      line-height: 1;
      flex-shrink: 0;
      width: 20rem;
      font-weight: 100;
      text-align: right;
      padding-right: 5rem;
      opacity: 0.5;

      @media @md-query {
        width: auto;
        padding-right: 0;
        padding-bottom: 2rem;
        text-align: center;
      }
    }

    &-content {
      flex: 1;
      font-size: 1.4rem;

      &-people {
        position: relative;
        padding-top: 3rem;
        margin-left: -15rem;
        display: flex;
        z-index: 1;

        @media @md-query {
          margin: 0;
          flex-direction: column;
        }
      }
    }
  }
}

.AboutPerson {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 1rem;

  @media @md-query {
    margin-bottom: 2rem;
  }

  &-image {
    width: 12rem;
    height: 12rem;
    margin-bottom: 2rem;
    border-radius: 100%;
  }

  &-name {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
  }

  &-blurb {
    font-size: 1.2rem;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 1rem;
    min-height: 70px;
  }

  &-buttons {
    .button {
      margin: 0 0.25rem;
    }
  }
}
